<div class="comment">
  <div class="container-fluid">
    <% if comment.user_id == session[:user_id] || @is_owner %>
      <%= button_to comment_url(comment), method: :delete, class: "danger" do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
        </svg>
      <% end %>
    <% end %>
    <% user = User.find(comment[:user_id])%>
    <div class="profile-pic">
      <% if user.avatar.attached? %>
          <%= image_tag user.avatar.variant(gravity: "Center", crop: '300x300+0+0') %>
        <% else %>
          <%= image_tag "default-profile.png", width: 25%>
        <% end %>
    </div>
    <div class="comment-text">
      <div class="details">
        <%= link_to "@#{user.username}", user_path(user.id) %>
        <span id="timestamps"><%= comment.created_at %></span>
      </div>
      <div class="comment-body">
        <%= comment.body %>
      </div>
    </div>
  </div>
</div>