<%# /courses/:id/posts %>
<div class="button-panel">
  <% if viewing_course %>
    <a href="<%= course_posts_path(@course) %>" class="p-button">View All Posts</a>
  <% else %>
    <a href="<%= course_path(@course) %>" class="p-button">View Course</a>
  <% end %>
  <% if @is_owner %>
    <a href="<%= new_course_post_path(@course) %>" class="p-button">Add Post</a>
    <a href="<%= edit_course_posts_path(@course) %>" class="p-button">Edit Post</a>
  <% end %>
</div>

<div id="posts" <%= "class=blur" unless @subscription.valid? || @is_owner %>>

  <% post_limit ||= @course.posts.length %>
  <% if post_limit == 0 %>
    <p>No posts yet!</p>
  <% else %>
    <%= render partial: @course.posts.take(post_limit), locals: { disabled: ( !(@subscription.valid? || @is_owner)), editing: false } %>
    <% if post_limit < @course.posts.length %>
      <h3>...</h3>
    <% end %>
  <% end %>

</div>
