<%# /courses/:id/posts %>
<div class="button-panel">
  <% if viewing_course %>
    <%= link_to "View all Posts", course_posts_path(@course), class: "p-button" %>	
  <% else %>
    <%= link_to "View Course", course_path(@course), method: :get, class: "p-button" %>
  <% end %>
  <% if @is_owner %>
    <%= link_to "Add Post", new_course_post_path(@course), class: "p-button" %>
    <%= link_to "Edit Posts", edit_course_posts_path(@course), class: "p-button" %> 
  <% end %>
</div>

<div id="posts" <%= "class=blur" unless @subscription.valid? || @is_owner %>>

  <% post_limit ||= @course.posts.length %>
  <% if post_limit == 0 %>
    <p>No posts yet!</p>
  <% else %>
    <%= render partial: @course.posts.take(post_limit), locals: { disabled: ( !(@subscription.valid? || @is_owner)), editing: false } %>
    <% if post_limit < @course.posts.length %>
      <h3>...</h3>
    <% end %>
  <% end %>

</div>
