<%# Individual post (/courses/:id/posts ) %>
<div onclick="location.href='<%= course_post_path(post.course_id, post.id) %>';">
<h1>Lesson <%= post.position %> - <%= post.title %></h1>
</div>
<%= form_for [@course, @post] do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>
  <%= form.rich_text_area :content %>
  <%= form.submit "Submit" %>
<% end %>